canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
}

.toobal{
    position: fixed;
    z-index: 111;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
}